<div class="container mx-auto px-4" data-controller="points">
  <h1 class="text-6xl font-bold mb-12 text-center text-game-yellow font-honk animate-pulse">
			Fast Points System
  </h1>
  
	<%= turbo_stream_from "names" %>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
			<%= render partial: 'points/name_card', collection: @names, as: :name %>
	</div>

	<template id="turbo-stream-template-points-counter">
			<turbo-stream action="replace" method="morph" target="name--points">
					<template>
							<span id="name--points" data-points-target="value" class="text-game-yellow text-3xl"></span>
					</template>
			</turbo-stream>
	</template>
</div>
